<div class="header-main">
    <a class="page-title" routerLink="/"> fake news detection </a>
    <p id="user" class="user"></p>
    <div class="btns">
        <button type="button" class="btn" id="log-in" (click)="open('log_in')"> Log in</button>
        <button type="button" class="btn" id="sign-up" (click)="open('sign_up')"> Sign up</button>
    </div>
</div>

<modal id="log_in" class="hhidden">
    <app-log-in></app-log-in>
</modal>

<modal id="sign_up" class="hhidden">
    <app-sign-in></app-sign-in>
</modal>