.log-in-comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    border: 1em #76323F solid;
    border-radius: 15px;
    border-width: 5px;
    padding: 0;
    background-color: #dfd7d0;
}

.text{
    align-self: center;
    font-size: x-large;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #76323F;
    margin-top: 1em;
    margin-bottom: 1em;
}

.text-subtitle{
    font-size: medium;
}

.text-paragraph{
    font-size: small;
    margin-left: 1em;
}

.log-in-img{
    border: none;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 40%;
    padding: 0;
}
