.log-in-comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    border: 1em #76323F solid;
    border-radius: 10px;
    border-width: 5px;
    padding: 1em;
    background-color: #dfd7d0;
}

.text{
    align-self: center;
    font-size: x-large;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #76323F;
    margin-top: 1em;
    margin-bottom: 1em;
}

.text-subtitle{
    font-size: medium;
}

.text-paragraph{
    font-size: small;
    margin-left: 1em;
}

.form-group{
    width: 45%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.first-part{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.small-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-btn{
    background-color: #76323F;
    border:none;
    width: 30%;
    justify-self: center;
    align-self: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
