<div class="log-in-comp">
    <p class="text">We are happy to see you!</p>
    <form class="data-input-form" #inputform="ngForm" (ngSubmit)=onClick(inputform.value)>
        <div class="first-part">
          <div class="small-part">
            <div class="form-group">
              <label for="title"> First Name </label>
              <input type="text" required class="form-control"  name="first-name" ngModel>
            </div>
            <div class="form-group">
              <label for="title"> Last Name </label>
              <input type="text" required class="form-control" name="last-name" ngModel>
            </div>
          </div>
          <div class="small-part">
            <div class="form-group">
              <label for="subject"> Email address </label>
              <input type="text" required class="form-control" name="email-address" ngModel>
            </div>
            <div class="form-group">
              <label for="subject"> Password </label>
              <input type="password" required class="form-control" name="password" ngModel>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary my-btn">
          <p class="btn-text"> Sign up </p>
        </button>
        </form>

</div>