<div class="component-input">
<p class="text"> Fill the form with the details news you want to check</p>
    <form class="data-input-form">
<div class="first-part-of-form">
    <div class="form-group">
     <label for="title"> News title </label>
     <input type="text" class="form-control" id="title">
 </div>
 <div class="form-group">
    <label for="subject"> News subject </label>
    <input type="text" class="form-control" id="subject">
</div>
<div class="form-group">
    <label for="date"> News date </label>
    <input type="datetime" class="form-control" id="date">
</div>
</div>
<div class="first-part-of-form">
<div class="form-group" >
    <label for="content"> News content </label>
    <input type="text" class="form-control" id="content">
</div>
<button type="submit" class="btn btn-primary my-btn"><p>Check veridicity</p></button>  
</div>
</form>
</div>